# ignore pdf's and internal files
*sources/
Intentieverklaring_co.pdf
*.knar
feedback*
foto
*.xlsx

# compilation files of tex
!paper/img/*
!*.tex
!*.cls
!*.bib
!*.sty
!paper/*.pdf
!voorstel/*.pdf
!voorstel/*.png
paper/
voorstel/

# configuration files
.DS_Store
.env
.vscode/*
