# ignore pdf's and internal files
*sources/
Intentieverklaring_co.pdf
*.knar
feedback*
foto
*.xlsx

# compilation files of tex
*.sav
*.bak
*.aux
*.bbl
*.bcf
*.blg
*.fls
*.fdb*
*.log
*.out
*.run.xml
*.toc
*.idx
*.ilg
*.lof
*.lot
*.gz

# configuration files
.DS_Store
*.env
.vscode/*

